@use '../../../styles/colors' as colors;
@use '../../../styles/grid' as grid;
@use '../../../styles/typography' as typography;

$header-height: 80px;

:host {
  display: block;
}

.header {
  background: colors.get-primary-color(50);
  box-shadow: 0 0 0px 0px rgb(0, 0, 0, 0.4);
  color: colors.get-primary-contrast-color(50);
  display: flex;
  align-items: center;
  height: $header-height;
  padding: 0 24px;
  position: sticky;
  top: 0;
  transition: box-shadow 0.2s ease-in-out;
  z-index: 1;

  &--scrolled {
    box-shadow: 0 0 8px 0px rgb(0, 0, 0, 0.4);
  }

  &__logo {
    margin-right: auto;
    overflow: hidden;
    width: 26px;
  }

  &__smech {
    @include typography.font(body-1);

    align-items: center;
    display: none;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cta {
    margin-inline-start: 32px;
  }

  @include grid.breakpoint() {
    &__logo {
      width: auto;
    }

    &__smech {
      display: block;
    }
  }
}

.section {
  background: colors.get-primary-color(50);
  color: colors.get-primary-contrast-color(50);
  padding: 50px 0;

  @include grid.breakpoint() {
    padding: 100px 0;
  }

  &--inverted {
    background: colors.get-primary-color();
    color: colors.get-primary-contrast-color();
  }

  &__inner {
    @include grid.layout();

    align-content: center;
  }

  &__title {
    @include typography.font(h2, $font-weight: typography.$medium);

    margin: 0;

    @include grid.breakpoint() {
      grid-column: span grid.$columns;
    }

    strong {
      color: colors.get-brand-color(500);
      font-weight: inherit;

      .section--inverted & {
        color: colors.get-brand-color();
      }
    }
  }

  &__copy {
    a {
      color: inherit;
      font-weight: typography.$demibold;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.splash {
  $google-g-width: 17px; // for brand spacing

  &__title {
    h1 {
      @include typography.font(h2, $font-size: 7.2rem, $font-weight: typography.$demibold);

      margin: 0;
    }

    p {
      @include typography.font(h4, $font-weight: typography.$regular);

      margin: 0.25em 0 0;
    }

    strong {
      color: colors.get-brand-color(500);
      font-weight: inherit;
    }
  }

  &__eyebrow {
    @include typography.font(h6, $font-weight: typography.$medium);

    display: block;
    margin-bottom: 0.1em;
  }

  &__by {
    @include typography.font(subtitle-1, $font-weight: typography.$regular);

    align-items: flex-start;
    display: grid;
    grid-gap: 24px $google-g-width;

    grid-template-areas: 'smech google' 'partners partners';
    grid-template-columns: 48px auto;
  }

  &__partners {
    @include typography.font(caption, $font-weight: typography.$regular, $mobile-variant: subtitle-1);

    grid-area: partners;
    margin: 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__smech {
    font-size: 40px;
    margin-inline-end: $google-g-width;
  }

  &__google {
    @include typography.font(caption, $font-weight: typography.$regular);

    grid-area: google;
    position: relative;
    width: 106px;

    &-logo {
      display: block;
      height: 22px;
      margin-top: 3px;
      width: 100%;
    }

    &:before {
      background: colors.get-primary-color(400);
      content: ' ';
      height: 100%;
      position: absolute;
      left: $google-g-width * -1;
      top: 0;
      width: 1px;
    }
  }

  &__break {
    border: 0;
    border-top: 1px solid currentColor;
    margin: 0;
  }

  &__intro {
    @include typography.font(h3, $font-weight: typography.$medium);

    align-self: center;
    margin: 0;
  }

  &__product {
    img {
      display: block;
      width: 100%;
    }
  }

  @include grid.breakpoint() {
    display: flex;

    &__title {
      grid-column: span 8;
    }

    &__by {
      align-items: center;
      align-self: end;
      grid-column: span (grid.$columns - 8);

      grid-template-areas: 'partners smech google';
      grid-template-columns: 1fr auto auto;
    }

    &__break {
      grid-column: span grid.$columns;
    }

    &__intro,
    &__product {
      grid-column: span grid.$columns * 0.5;
    }
  }

  @media screen and (min-width: 1200px) {
    &__by {
      grid-column: #{grid.$columns - 3} / span 4;
    }

    &__product {
      padding: 48px 0;
    }
  }
}

.pillars {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__product {
    align-self: center;

    img {
      display: block;
      width: 100%;
    }
  }

  &__outro {
    @include typography.font(intro);

    display: none;
    margin-left: 32px;

    @include typography.breakpoint() {
      display: initial;
    }
  }

  @include grid.breakpoint() {
    &__list,
    &__product {
      grid-column: span grid.$columns * 0.5;
    }

    &__cta {
      grid-column: span grid.$columns;
    }
  }
}

.pillar {
  display: grid;
  grid-gap: 8px 24px;
  grid-template: 'icon title' 'icon info';
  grid-template-columns: auto 1fr;

  + .pillar {
    margin-top: grid.$gap;
  }

  &__icon {
    grid-area: icon;
    font-size: 32px;
  }

  &__title {
    @include typography.font(h5, $font-weight: typography.$medium);

    margin: 0;
  }

  &__info {
    @include typography.font(body-1);

    margin: 0;
  }
}

.demo {
  &__cta {
    @include typography.font(h6, $font-weight: typography.$medium);

    @include grid.breakpoint() {
      grid-column: span grid.$columns;
    }
  }

  a {
    text-decoration: underline;
  }
}
