@use '../../../styles/typography' as typography;

:host {
  display: block;
  width: 100%;
}

.input {
  width: 100%;

  &__native {
    @include typography.font-settings($numeric: true);
  }
}

.container {
  position: relative;
  width: 100%;
}

.error {
  position: relative;
  top: 20px;
}
