@use '../../../styles/colors' as colors;
@use '../../../styles/grid' as grid;
@use '../../../styles/typography' as typography;

$background-color: colors.get-primary-contrast-color();
$bar-height: 10px;
$top-bar-height: 80px - grid.$gutter;

:host {
  background: $background-color;
  box-shadow: 0px 0 16px 16px $background-color;
  display: block;
  flex-shrink: 0;
  height: $top-bar-height + $bar-height - 1px;
  position: relative;
  z-index: 1;

  // Hack to hide scrolling content appear below navigation
  &:before {
    background: $background-color;
    bottom: 100%;
    content: ' ';
    height: grid.$mobile-gutter;
    position: absolute;
    width: 100%;

    @include grid.breakpoint() {
      height: grid.$gutter;
    }
  }
}

.container {
  @include typography.font(h6, $font-weight: typography.$demibold);

  align-items: flex-end;
  border-bottom: $bar-height solid colors.get-primary-color(100);
  display: flex;
  flex-shrink: 0;
  gap: grid.$gap-narrow;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 12px;
  position: relative;
}

.bar {
  background: colors.get-brand-color();
  height: 10px;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(100%);
  transition: width 0.2s ease-in-out;
  width: 0%;

  @media (prefers-reduced-motion) {
    transition-duration: 0s;
  }
}
