@use '../../../styles/typography' as typography;

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 32px;
  width: 100%;
}

.labels {
  @include typography.font(h5);

  margin: 72px 0 0;
  text-align: center;
}

.label {
  display: block;
}
