@use 'grid' as grid;

$small-gutter: grid.$mobile-gutter;
$large-gutter: 50px;

.cdk-overlay-pane {
  max-width: calc(100% - #{grid.$mobile-gutter * 2}) !important;
}

mat-dialog-container.mat-dialog-container {
  border-radius: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 500px;
}

mat-dialog-content.mat-dialog-content {
  margin: 0;
  max-height: 90vh;
  padding: $small-gutter;
  width: 100%;

  &:after {
    bottom: 0;
    box-shadow: 0px 0 ($small-gutter * 0.5) ($small-gutter * 0.5) #fff;
    content: ' ';
    left: 0;
    position: absolute;
    width: 100%;
  }

  @media screen and (min-width: 500px) {
    padding: $large-gutter;

    &:after {
      box-shadow: 0px 0 ($large-gutter * 0.5) ($large-gutter * 0.5) #fff;
    }
  }
}
