@use 'sass:map';
@use '@angular/material' as mat;
@use '@normative/theme' as theme;

$color: mat.get-color-config(theme.$theme);
$primary: map-get($color, primary);
$warn: map-get($color, warn);

mat-select.mat-select {
  &,
  .mat-select-trigger,
  .mat-select-value {
    display: block;
  }

  .mat-select-arrow-wrapper {
    display: none;
  }

  .mat-select-value {
    color: mat.get-color-from-palette($primary);
    max-width: initial;
  }

  &.mat-select-empty {
    .mat-select-value,
    .mat-select-placeholder {
      color: mat.get-color-from-palette($primary, 400);
    }
  }

  &.mat-select-invalid {
    .mat-select-placeholder,
    .mat-select-value {
      color: mat.get-color-from-palette($warn);
    }
  }
}
