<h2 class="title">Turn your estimate into action</h2>
<p class="text">
  Understanding your company’s emissions is an important step in your journey to Net Zero, but it shouldn’t end there.
  Go to the SME Climate Hub to make your public commitment to Net Zero, access tangible tips for reducing your emissions
  and get recognized for being a climate leader.
</p>
<p class="text">
  <a class="n-button" (click)="logClick()" href="https://smeclimatehub.org/how-it-works/" target="_blank">
    Continue your journey
    <mat-icon svgIcon="n:arrow-right"></mat-icon>
  </a>
</p>

